<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>Getting started with ECMAScript 6</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/theme/black.css" id="theme">

		<!-- Code syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic|Roboto:400,400italic,500,500italic,700,700italic|Poppins:400,500,600,700' rel='stylesheet' type='text/css'>

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">
			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
				<section>
					<h1>ECMAScript 6</h1>
				</section>

				<section>
					<h3>Topics</h3>
					<ol>
						<li>What is ECMAScript 6 and why is it such a big deal?</li>
						<li>Overview of ECMAScript 6 features</li>
						<li>Getting started with ECMAScript 6</li>
					</ol>
				</section>

				<section>
					<section>
						<h2>WHAT IS ECMASCRIPT 6?</h2>
					</section>

					<section>
						<h3>ECMAScript ?= JavaScript</h3>
					</section>

					<section>
						<h3>ECMAScript</h3>
						<p>Official name of the programming language<br />commonly known as JavaScript™</p>
					</section>

					<section>
						<h3>
							LiveScript → JavaScript
							<span class="fragment"><br />↓<br />JavaScript vs. JScript</span>
							<span class="fragment"><br />↓<br />standardization (Ecma International)</span>
							<span class="fragment"><br />↓<br />ECMAScript</span>
						</h3>
					</section>


					<section>
						<h3>ES5 === ECMAScript, 5th Edition</h3>
						<h3>ES6 === ECMAScript, 6th Edition</h3>
					</section>
				</section>

				<section>
					<section>
						<h2>WHY IS ES6 SUCH A BIG DEAL?</h2>
					</section>

					<section>
						<h3>ECMAScript 5th Edition</h3>
						<ul>
							<li>Scaled back subset of abandoned 4th Edition</li>
							<li>Focused mainly on bug fixes and compatibility</li>
						</ul>
					</section>

					<section>
						<h3>ESHarmony</h3>
						<p>Stuff in ES4 that didn't make it into ES5</p>
						<div class="fragment">
							<h3>ES.next</h3>
							<p>Subset of features from ESHarmony ready<br />for next release (i.e. ES6)</p>
						</div>
					</section>

					<section>
						<h3>ECMAScript, 6th Edition</h3>
						<ul>
							<li>Approved in June 2015</li>
							<li>Officially renamed ECMAScript 2015</li>
						</ul>
						<p>(ES5 approved in 2009, ES3 approvied in 1999)</p>
					</section>

					<section>
						<h3>"Subset"</h3>
						<p>Most significant update to the core of the language since the introduction of [] and {} in JavaScript 1.2 (approved in 1997)!</p>
					</section>

					<section>
						<h3>Reduced friction</h3>
						<p>Incorporates concepts common amongst other popular languages with the goal of making it easier to get up and running for developers used to those languages</p>
					</section>
				</section>

				<section>
					<section><h3>Using es6 today</h3></section>

					<section>
						<h3>limited Browser availability</h3>
						<img src="./img/browser_support.png" />
						<img src="./img/mobile_support.png" />
					</section>

					<section>
						<h3>transpilation tools</h3>
						<ul>
							<li>babel (we use this)</li>
							<li>traceur compiler</li>
							<li>TypeKit</li>
							<li>nodejs implements some features, and some via flags</li>
						</ul>
					</section>


				</section>

				<section>
					<h2>FEATURE OVERVIEW</h2>
				</section>

				<section>
					<section><h3>New variable keywords</h3></section>

					<section>
						<h3>Function vs. block scope</h3>
						<aside class="notes">
							lexical scope only created inside functions, block scope is contained by {.
						</aside>
					</section>
				</section>

				<section>
					<section><h3>let</h3></section>

					<section>
						<pre><code class="lang-javascript">for (var i = 0; i < 10; i++) {
  var j = i + 1;
  var $button = $('<button>BUTTON #' + j + '</button>')
      .on('click', function () {
        alert('You clicked BUTTON #' + j + '!');
      })
      .appendTo('#button-container');
}</code></pre>
						<pre><code class="fragment lang-javascript">var i, j, $button;
for (i = 0; i < 10; i++) {
  j = i + 1;
  $button = $('<button>BUTTON #' + j + '</button>')
      .on('click', function () {
        alert('You clicked BUTTON #' + j + '!');
      })
      .appendTo('#button-container');
}</code></pre>
					</section>

					<section>
						<pre><code class="lang-javascript">for (var i = 0; i < 10; i++) {
  let j = i + 1;
  var $button = $('<button>BUTTON #' + j + '</button>')
      .on('click', function () {
        alert('You clicked BUTTON #' + j + '!');
      })
      .appendTo('#button-container');
}</code></pre>
					</section>
				</section>

				<section>
					<section><h3>const</h3></section>

					<section>
						<pre><code class="lang-javascript">var ITEM_COUNT = 1;
ITEM_COUNT = 10;</code></pre>
						<pre><code class="fragment lang-javascript">const ITEM_COUNT = 1;
ITEM_COUNT = 10;   // error: "ITEM_COUNT" is read-only</code></pre>
					</section>

					<section>
						<h4>Must be declared with a value</h4>
						<pre><code class="lang-javascript">const ITEM_COUNT;   // error: Unexpected token</code></pre>
					</section>

					<section>
						<h4>Must be unique within immediate scope</h4>
						<pre><code class="lang-javascript">var ITEM_COUNT = 1;
const ITEM_COUNT = 10;   // error: "ITEM_COUNT" is read-only</code></pre>
						<pre><code class="fragment lang-javascript">var ITEM_COUNT = 1;

if (true) {
  const ITEM_COUNT = 10;
  console.log(ITEM_COUNT);   // 10
}

console.log(ITEM_COUNT);     // 1</code></pre>
					</section>

					<section>
						<h4>Constant objects are mutable</h4>
						<pre><code class="lang-javascript">const WALKING_DEAD_CAST = [
  'Andrew Lincoln',
  'Jon Bernthal',
  'Laurie Holden',
  'Steven Yuen',
  'Norman Reedus',
  'Melissa McBride'
];

WALKING_DEAD_CAST.splice(2, 1);
WALKING_DEAD_CAST[0] = 'Lauren Cohan';
WALKING_DEAD_CAST.push('Danai Gurira');</code></pre>
					</section>
				</section>

				<section>
					<section><h3>Better strings</h3></section>

					<section>
						<pre><code class="lang-javascript">function introduce(first, last, relative, verb) {
  alert('Hello. My name is ' + first + ' ' + last + '. You ' +
      'killed my ' + relative + '. Prepare to ' + verb + '.');
}</code></pre>
						<pre><code class="fragment lang-javascript">var introduction = 'Hello. My name is <%= first %> <%= last %>.' +
    'You killed my <%= relative %>. Prepare to <%= verb %>.';

function introduce(first, last, relative, verb) {
  alert(_.template(introduction, {
    first: first,
    last: last,
    relative: relative,
    verb: verb
  }));
}</code></pre>
					</section>

					<section>
						<pre><code class="lang-javascript">function introduce(first, last, relative, verb) {
	alert(`Hello. My name is ${first} ${last}. You killed my ` +
			`${relative}. Prepare to ${verb}.`);
}</code></pre>
						<pre><code class="fragment lang-javascript">function introduce(first, last, relative, verb) {
	alert(`Hello. My name is ${first} ${last}. You killed my
			${relative}. Prepare to ${verb}.`);
}</code></pre>
					</section>

					<section>
						<pre><code class="lang-javascript">function render(data) {
  return $(
    '<article class="featured-story">' +
      '<header>' +
        '<h1 class="headline">' + data.title + '</h1>' +
        '<span class="byline">By ' + data.author + '</span>' +
        '<span class="date">' + data.publishedDate + '</span>' +
      '</header>' +
    '</article>'
  );
}</code></pre>
						<pre><code class="fragment lang-javascript">function render(data) {
  return $(
    `<article class="featured-story">
      <header>
        <h1 class="headline">${data.title}</h1>
        <span class="byline">By ${data.author}</span>
        <span class="date">${data.publishedDate}</span>
      </header>
    </article>`
  );
}</code></pre>
					</section>
				</section>

				<section>
					<section><h3>Arrow functions</h3></section>

					<section>
						<h3>Dynamic vs. lexical binding</h3>
					</section>

					<section>
						<pre><code class="lang-javascript">var obj = {
  foo: 'abc',
  bar: function () {
    var self = this;
    setTimeout(function () {
      console.log(self.foo);
    }, 1000);
  }
};</code></pre>
						<pre><code class="fragment lang-javascript">var obj = {
  foo: 'abc',
  bar: function () {
    setTimeout(() => console.log(this.foo), 1000);
  }
};</code></pre>
					</section>

					<section>
						<h4>Parens optional for single parameter...</h4>
						<pre><code class="lang-javascript">x => x * 2;</code></pre>
						<h4>...but required for no or multiple params</h4>
							<pre><code class="lang-javascript">() => alert('HI!');
(x, y) => x + y;</code></pre>
						<div class="fragment">
							<h4>(Just use them all the time)</h4>
							<pre><code class="lang-javascript">(x) => x + 1;</code></pre>
						</div>
					</section>

					<section>
						<h4>Curly braces optional for one line of code</h4>
						<pre><code class="lang-javascript">x => x * 2;

// Equivalent to this...
function (x) {
	return x * 2;
}</code></pre>
						<div class="fragment">
							<h4>Required for multiple lines</h4>
							<pre><code class="lang-javascript">x => {
  const y = x * 2;
  return y;
}</code></pre>
						</div>
						<div class="fragment">
							<h4>Returning an object literal</h4>
							<pre><code class="lang-javascript">(first, last, age) => ({
  name: `${first} ${last}`,
  age: age
})</code></pre>
						</div>
					</section>

					<section>
						<h4>Unnamed (must be immediately consumed)</h4>
						<pre><code class="lang-javascript">var double = x => x * 2;

var mathUtils = {
  add: (x, y) => x + y,
  multiply: (x, y) => x * y
};

var result = (x => x + 1)(4);   // 5</code></pre>
					</section>

					<section>
						<h4>Lexical arguments</h4>
						<pre><code class="lang-javascript">var obj = {
  foo: 'abc',
  bar: function () {
    setTimeout(() => console.log(arguments), 1000);
  }
};

obj.bar(1, 2, 3);</code></pre>
					</section>
				</section>

				<section>
					<section><h3>Destructuring assignment</h3></section>

					<section>
						<pre><code class="lang-javascript">var data = [10, 10, 50, 200];
var x, y, width, height;

x = data[0];
y = data[1];
width = data[2];
height = data[3];</code></pre>
						<pre><code class="fragment lang-javascript">var data = [10, 10, 50, 200];
var [x, y, width, height] = data;
var [x, y] = data;
var [, y, , height] = data;</code></pre>
						<div class="fragment">
							<h4>Swap values without a temp variable</h4>
							<pre><code class="lang-javascript">[x, y] = [y, x];</code></pre>
						</div>
					</section>

					<section>
						<pre><code class="lang-javascript">var data = { name: 'John Doe', age: 36 };
var { name, age } = data;</code></pre>
						<pre><code class="fragment lang-javascript">function listify({ name, age }) {
  return (
    `<ul>
      <li>Name: ${name}</li>
      <li>Age: ${age}</li>
    </ul>`
  );
}

listify({ name: 'John Doe', age: 36 });</code></pre>
					</section>

					<section>
						<pre><code class="lang-javascript">function render(data) {
  return $(
    `<article class="featured-story">
      <header>
        <h1 class="headline">${data.title}</h1>
        <span class="byline">By ${data.author}</span>
        <span class="date">${data.publishedDate}</span>
      </header>
    </article>`
  );
}</code></pre>
						<pre class="fragment"><code class="lang-javascript">function render({ author, publishedDate, title }) {
  return $(
    `<article class="featured-story">
      <header>
        <h1 class="headline">${title}</h1>
        <span class="byline">By ${author}</span>
        <span class="date">${publishedDate}</span>
      </header>
    </article>`
  );
}</code></pre>
					</section>

					<section>
						<pre><code class="lang-javascript">function render({ author, publishedDate:date, title }) {
  return $(
    `<article class="featured-story">
      <header>
        <h1 class="headline">${title}</h1>
        <span class="byline">By ${author}</span>
        <span class="date">${date}</span>
      </header>
    </article>`
  );
}</code></pre>
					</section>
				</section>

				<section>
					<h3>Improved parameters</h3>
				</section>

				<section>
					<section><h3>Default parameters</h3></section>

					<section>
						<pre><code class="lang-javascript">ApiObject.prototype.get = function get(key) {
  return this[key === undefined ? 'id' : key];
};</code></pre>
						<pre class="fragment"><code class="lang-javascript">ApiObject.prototype.get = function get(key = 'id') {
  return this[key];
};</code></pre>
					</section>
				</section>

				<section>
					<section>
						<h3>Spread operator</h3>
						<aside class="notes">The spread operator allows an expression to be expanded in place. This can be used with any iterable.</aside>
					</section>


					<section>
						<h4>Function calls</h4>
						<pre><code class="lang-javascript">function sum(x, y, z) {
  return x + y + z;
}

var numbers = [1, 2, 3];
sum.apply(null, numbers);</code></pre>
						<pre class="fragment"><code class="lang-javascript">function sum(x, y, z) {
  return x + y + z;
}

var numbers = [1, 2, 3];
sum(...numbers);</code></pre>
					</section>

					<section>
						<h4>Assignment</h4>
						<pre><code class="lang-javascript">var [father, mother, ...children] = ['Mike', 'Carol', 'Greg',
    'Marcia', 'Peter', 'Jan', 'Bobby', 'Cindy'];</code></pre>
					</section>

					<section>
						<h4>Inside array literals</h4>
						<pre><code class="lang-javascript">var someReindeer = [
  'Comet',
  'Cupid',
  'Donner'
];

var reindeer = [
  'Dasher',
  'Dancer',
  'Prancer',
  'Vixen',
  ...someReindeer,
  'Blitzen'
];</code></pre>
					</section>
				</section>

				<section>
					<section><h3>...Rest parameters</h3></section>

					<section>
						<pre><code class="lang-javascript">function sum() {
  var value = 0;
  for (var i = 0; i < arguments.length; i++) {
    value += arguments[i];
  }
  return value;
}</code></pre>
						<pre class="fragment"><code class="lang-javascript">function brokenSum() {
  return arguments.reduce(function (x, y) {
    return x + y;
  });
}</code></pre>
						<pre class="fragment"><code class="lang-javascript">function fixedSum(...values) {
  return values.reduce(function (x, y) {
    return x + y;
  });
}</code></pre>

						<aside class="notes">
							When you want to deal with arbitrary arguments, you aren't always garunteed an array.
							Using rest parameters, you are garunteed an array.
						</aside>
					</section>
				</section>

				<section>
					<section><h3>Enhanced object literals</h3></section>
					<section>
						<pre><code class="lang-javascript">var obj = {
  // Shorthand for ‘handler: handler’
  handler,
  // Computed (dynamic) property names
  [ 'prop_' + (() => 42)() ]: 42
};</code></pre>
					</section>
				</section>

				<section>
					<section><h3>Concise methods</h3></section>

					<section>
						<pre><code class="lang-javascript" data-trim>// es5
var SomeObject = {
  foo: function foo() {
    // ...
  }
};

// es6
let SomeObject = {
  foo() {
    // ...
  }
};</code></pre>
						<aside class="notes">
							Good to use because it gives you named functions rather than annonymous, which is helpful in debugging.
						</aside>
					</section>

					<section>
						<h4>Useful in React.js</h4>
						<pre><code class="lang-javascript" data-trim>const YourComponent = React.createClass({
  getDefaultProps() {
    // ...
  },
  render() {
    // ...
  }
});</code></pre>
					</section>
				</section>

				<section>
					<section><h3>New core prototypes</h3></section>
				</section>

				<section>
					<section>
						<h3>Set</h3>
					</section>

					<section>
						<h4>Collection of unique values</h4>
						<pre><code class="lang-javascript">var set = new Set();

set.add('123');
set.add(123);

set.has('123');   // true
set.has(123);     // true

set.size;         // 2

set.delete(123);
set.clear();
</code></pre>
					</section>

					<section>
						<h4>Starting values</h4>
						<pre><code class="lang-javascript">var startingValues = [
  'abc',
  'xyz',
  123,
  456,
  [],
  [],
  true,
  false,
  null
];
var set = new Set(startingValues);

console.log(set.size);   // 9 (the empty arrays are unique objects)</code></pre>
					</section>

					<section>
						<h4>Iteration over a set</h4>
						<pre><code class="lang-javascript">for (let item of set) {
  console.log(item);
}</code></pre>
					</section>
				</section>

				<section>
					<section>
						<h3>Map</h3>
					</section>

					<section>
						<h4>Collection of unique keys paired with values</h4>
						<pre><code class="lang-javascript">var map = new Map();
var foo = 1;
var bar = 'a';

map.set(foo, bar);

map.get(foo);   // bar

map.has(foo);   // true

map.size;       // 1

map.delete(foo);
map.clear();</code></pre>
					</section>

					<section>
						<h4>Starting values</h4>
						<pre><code class="lang-javascript">var startingValues = [
  [1, 'a'],
  [[], false]
];
var map = new Map(startingValues);</code></pre>
					</section>

					<section>
						<h4>Iteration over a map</h4>
						<pre><code class="lang-javascript">for (let [key, value] of map) {
  console.log(`${key}: ${value}`);
}</code></pre>
					</section>
				</section>

				<section>
					<h3>Classes and Promises</h3>
					<aside class="notes">hand off to sean</aside>
				</section>

				<section>
					<h3>Questions?</h3>
				</section>

				<section>
					<h3>Join us in slack #nodejs</h3>
				</section>

			</div>
		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.js"></script>

		<script>

			// Full list of configuration options available at:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				transition: 'convex', // none/fade/slide/convex/concave/zoom

				// Optional reveal.js plugins
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.configure({tabReplace: '  '}); hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true },
					{ src: 'plugin/notes/notes.js', async: true }
				]
			});

		</script>

	</body>
</html>
