<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>Getting started with ECMAScript 6</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/theme/black.css" id="theme">

		<!-- Code syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic|Roboto:400,400italic,500,500italic,700,700italic|Poppins:400,500,600,700' rel='stylesheet' type='text/css'>

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
				<section>
					<h1>ECMAScript 6</h1>
					<!--h3>Modernizing your JavaScript</h3-->
				</section>

				<section>
					<h3>Topics</h3>
					<ol>
						<li>What is ECMAScript 6 and why is it such a big deal?</li>
						<li>Overview of ECMAScript 6 features</li>
						<li>Getting started with ECMAScript 6</li>
					</ol>
				</section>


				<section>
					<section>
						<h2>WHAT IS ECMASCRIPT 6?</h2>
					</section>

					<section>
						<h3>What is ECMAScript?</h3>
					</section>

					<section>
						<p>Official name of the programming language commonly known as JavaScript</p>
					</section>

					<section>
						<p>Specification ECMA-262 maintained by Ecma International's technical committee TC-39</p>
					</section>
				</section>

				<section>
					<section>
						<h2>WHY IS ES6 SUCH A BIG DEAL?</h2>
					</section>

					<section>
						<h3>ECMAScript, 5th Edition (a.k.a. ES5)</h3>
						<ul>
							<li>Approved as a standard in December 2009</li>
							<li>Scaled back subset of abandoned 4th edition focused mainly on updating existing features</li>
						</ul>
					</section>

					<section>
						<h3>ESHarmony</h3>
						<p>Versions of abandoned features from ES4</p>
					</section>

					<section>
						<h3>ES.next => ES6</h3>
						<p>Subset of features from ESHarmony which would eventually become known as ECMAScript, 6th Edition</p>
					</section>

					<section>
						<h3>"Subset"</h3>
						<p>Most significant update to the core of the language since the introduction of [] and {} in JavaScript 1.2!</p>
					</section>

					<section>
						<h3>Reduced friction</h3>
						<p>Incorporates concepts common amongst other popular languages with the goal of making it easier to get up and running for developers used to those languages</p>
					</section>
				</section>


				<section>
					<h2>FEATURE OVERVIEW</h2>
				</section>

				<section>
					<section><h3>New variable keywords</h3></section>

					<section>
						<h3>Function vs. block scope</h3>
						<aside class="notes">
							lexical scope only created inside functions, block scope is contained by {.
						</aside>
					</section>
				</section>

				<section>
					<section><h3>let</h3></section>

					<section>
						<!--img src="img/variables-var-keyword.png" width="900" /-->
						<pre><code class="lang-javascript">for (var i = 0; i < 10; i++) {
  var j = i + 1;
  var $button = $('<button>BUTTON #' + j + '</button>')
      .on('click', function () {
        alert('You clicked BUTTON #' + j + '!');
      })
      .appendTo('#button-container');
}</code></pre>
						<!--img class="fragment" src="img/variables-hoisting.png" width="900" /-->
						<pre><code class="fragment lang-javascript">var i, j, $button;
for (i = 0; i < 10; i++) {
  j = i + 1;
  $button = $('<button>BUTTON #' + j + '</button>')
      .on('click', function () {
        alert('You clicked BUTTON #' + j + '!');
      })
      .appendTo('#button-container');
}</code></pre>
					</section>

					<section>
						<!--img src="img/variables-let-keyword.png" width="900" /-->
						<pre><code class="lang-javascript">for (var i = 0; i < 10; i++) {
  let j = i + 1;
  var $button = $('<button>BUTTON #' + j + '</button>')
      .on('click', function () {
        alert('You clicked BUTTON #' + j + '!');
      })
      .appendTo('#button-container');
}</code></pre>
					</section>
				</section>

				<section>
					<section><h3>const</h3></section>

					<section>
						<pre><code class="lang-javascript">var ITEM_COUNT = 1;
ITEM_COUNT = 10;</code></pre>
						<pre><code class="fragment lang-javascript">const ITEM_COUNT = 1;
ITEM_COUNT = 10;   // error: "ITEM_COUNT" is read-only</code></pre>
						<!--img src="img/variables-mutable.png" width="900" />
						<img class="fragment" src="img/variables-const-keyword.png" width="900" />
						<img class="fragment" src="img/variables-const-duplicated.png" width="900" /-->
					</section>

					<section>
						<h4>Must be declared with a value</h4>
						<pre><code class="lang-javascript">const ITEM_COUNT;   // error: Unexpected token</code></pre>
					</section>

					<section>
						<h4>Must be unique within immediate scope</h4>
						<pre><code class="lang-javascript">var ITEM_COUNT = 1;
const ITEM_COUNT = 10;   // error: "ITEM_COUNT" is read-only</code></pre>
						<pre><code class="fragment lang-javascript">var ITEM_COUNT = 1;

if (true) {
  const ITEM_COUNT = 10;
  console.log(ITEM_COUNT);   // 10
}

console.log(ITEM_COUNT);     // 1</code></pre>
					</section>

					<section>
						<h4>Constant objects are mutable</h4>
						<pre><code class="lang-javascript">const WALKING_DEAD_CAST = [
  'Andrew Lincoln',
  'Jon Bernthal',
  'Laurie Holden',
  'Steven Yuen',
  'Norman Reedus',
  'Melissa McBride'
];

WALKING_DEAD_CAST.splice(2, 1);
WALKING_DEAD_CAST[0] = 'Lauren Cohan';
WALKING_DEAD_CAST.push('Danai Gurira');</code></pre>
						<!--img src="img/variables-const-reference.png" width="900" /-->
					</section>
				</section>


				<section>
					<section><h3>Better strings</h3></section>

					<section>
						<pre><code class="lang-javascript">function introduce(first, last, relative, verb) {
  alert('Hello. My name is ' + first + ' ' + last + '. You ' +
      'killed my ' + relative + '. Prepare to ' + verb + '.');
}</code></pre>
						<pre><code class="fragment lang-javascript">var introduction = 'Hello. My name is <%= first %> <%= last %>.' +
    'You killed my <%= relative %>. Prepare to <%= verb %>.';

function introduce(first, last, relative, verb) {
  alert(_.template(introduction, {
    first: first,
    last: last,
    relative: relative,
    verb: verb
  }));
}</code></pre>
						<!--img src="img/strings.png" width="900" />
						<img class="fragment" src="img/strings-underscore.png" width="900" /-->
					</section>

					<section>
						<!--img src="img/strings-template-string.png" width="900" /-->
						<pre><code class="lang-javascript">function introduce(first, last, relative, verb) {
	alert(`Hello. My name is ${first} ${last}. You killed my ` +
			`${relative}. Prepare to ${verb}.`);
}</code></pre>
						<pre><code class="fragment lang-javascript">function introduce(first, last, relative, verb) {
	alert(`Hello. My name is ${first} ${last}. You killed my
			${relative}. Prepare to ${verb}.`);
}</code></pre>
						<!--img class="fragment" src="img/strings-template-string-multiline.png" width="900" /-->
					</section>

					<section>
						<!--img src="img/strings-html-strings.png" width="900" /-->
						<pre><code class="lang-javascript">function render(data) {
  return $(
    '<article class="featured-story">' +
      '<header>' +
        '<h1 class="headline">' + data.title + '</h1>' +
        '<span class="byline">By ' + data.author + '</span>' +
        '<span class="date">' + data.publishedDate + '</span>' +
      '</header>' +
    '</article>'
  );
}</code></pre>
						<!--img src="img/strings-html-template.png" width="900" /-->
						<pre><code class="fragment lang-javascript">function render(data) {
  return $(
    `<article class="featured-story">
      <header>
        <h1 class="headline">${data.title}</h1>
        <span class="byline">By ${data.author}</span>
        <span class="date">${data.publishedDate}</span>
      </header>
    </article>`
  );
}</code></pre>
					</section>
				</section>


				<section>
					<section><h3>Arrow functions</h3></section>

					<section>
						<h3>Dynamic vs. lexical binding</h3>
					</section>

					<section>
						<!--img src="img/arrow-async-this.png" width="900" />
						<img class="fragment" src="img/arrow-async-this-with-arrow.png" width="900" /-->
						<pre><code class="lang-javascript">var obj = {
  foo: 'abc',
  bar: function () {
    var self = this;
    setTimeout(function () {
      console.log(this.foo);
    }, 1000);
  }
};</code></pre>
						<pre><code class="fragment lang-javascript">var obj = {
  foo: 'abc',
  bar: function () {
    setTimeout(() => console.log(this.foo), 1000);
  }
};</code></pre>
					</section>

					<section>
						<h4>Parens optional for single parameter...</h4>
						<pre><code class="lang-javascript">x => x * 2;</code></pre>
						<h4>...but required for no or multiple params</h4>
							<pre><code class="lang-javascript">() => alert('HI!');
(x, y) => x + y;</code></pre>
						<div class="fragment">
							<h4>(Just use them all the time)</h4>
							<pre><code class="lang-javascript">(x) => x + 1;</code></pre>
						</div>
					</section>

					<section>
						<h4>Unnamed (must be immediately consumed)</h4>
						<pre><code class="lang-javascript">var double = x => x * 2;

var mathUtils = {
  add: (x, y) => x + y,
  multiply: (x, y) => x * y
};

var result = (x => x + 1)(4);   // 5</code></pre>
					</section>

					<section>
						<h4>Lexical arguments</h4>
						<pre><code class="lang-javascript">var obj = {
  foo: 'abc',
  bar: function () {
    setTimeout(() => console.log(arguments), 1000);
  }
};

obj.bar(1, 2, 3);</code></pre>
					</section>
				</section>


				<section>
					<section><h3>Destructuring assignment</h3></section>

					<section>
						<pre><code class="lang-javascript">var data = [10, 10, 50, 200];
var x, y, width, height;

x = data[0];
y = data[1];
width = data[2];
height = data[3];</code></pre>
						<pre><code class="fragment lang-javascript">var data = [10, 10, 50, 200];
var [x, y, width, height] = data;
var [x, y] = data;
var [, y, , height] = data;</code></pre>
						<div class="fragment">
							<h4>Swap values without a temp variable</h4>
							<pre><code class="lang-javascript">[x, y] = [y, x];</code></pre>
						</div>
						<!--img src="img/destructuring-array-indices.png" width="900" />
						<img class="fragment" src="img/destructuring-arrays.png" width="900" /-->
					</section>

					<section>
						<pre><code class="lang-javascript">var data = { name: 'John Doe', age: 36 };
var { name, age } = data;</code></pre>
						<pre><code class="fragment lang-javascript">function listify({ name, age }) {
  return (
    `<ul>
      <li>Name: ${name}</li>
      <li>Age: ${age}</li>
    </ul>`
  );
}

listify({ name: 'John Doe', age: 36 });</code></pre>
						<!--img src="img/destructuring-object-keys.png" width="900" />
						<img class="fragment" src="img/destructuring-objects.png" width="900" />
						<img class="fragment" src="img/destructuring-params.png" width="900" /-->
					</section>

					<section>
						<img src="img/strings-html-template.png" width="900" />
					</section>

					<section>
						<img src="img/destructuring-html-template.png" width="900" />
					</section>

					<section>
						<img src="img/destructuring-html-template-renamed.png" width="900" />
					</section>
				</section>


				<section>
					<h3>Improved parameters</h3>
				</section>

				<section>
					<section><h3>Default parameters</h3></section>

					<section>
						<img src="img/default-undefined.png" width="900" />
						<img class="fragment" src="img/default-parameter.png" width="900" />
					</section>
				</section>

				<section>
					<section>
						<h3>Spread operator</h3>
						<aside class="notes">The spread operator allows an expression to be expanded in place. This can be used with any iterable.</aside>
					</section>


					<section>
						<h4>function calls</h4>
						<img src="img/spread-apply.png" width="900" />
						<img class="fragment" src="img/spread-function-call.png" width="900" />
					</section>

					<section>
						<h4>for assignment</h4>
						<img src="img/spread-destructuring.png" width="900" />
					</section>

					<section>
						<h4>inside array literals</h4>
						<img src="img/spread-array-literal.png" width="900" />
					</section>
				</section>

				<section>
					<section><h3>Rest parameters</h3></section>

					<section>
						<img src="img/rest-partial-usage.png" width="900" />
						<img class="fragment" src="img/rest-partial-classic.png" width="900" />
						<img class="fragment" src="img/rest-partial-with-rest.png" width="900" />

						<aside class="notes">
							When you want to deal with arbitrary arguments, you aren't always garunteed an array.
							Using rest parameters, you are garunteed an array.
						</aside>
					</section>
				</section>

				<section>
					<section><h3>Enhanced Object literal</h3></section>
					<section>
						<pre><code class="lang-javascript">
var obj = {
		// Shorthand for ‘handler: handler’
		handler,
		// Computed (dynamic) property names
		[ 'prop_' + (() => 42)() ]: 42
};
						</code></pre>
					</section>


				</section>

				<section>
					<section><h3>Concise methods</h3></section>

					<section>
						<h4>Concise methods</h4>
						<pre><code class="lang-javascript" data-trim>
// es5
var SomeObject = {
	foo: function foo() {
		// ...
	}
};

// es6
let SomeObject = {
	foo() {
		// ...
	}
};
						</code></pre>
						<aside class="notes">
							Good to use because it gives you named functions rather than annonymous, which is helpful in debugging.
						</aside>
					</section>

					<section>
						<h4>Useful in React.js</h4>
						<pre><code class="lang-javascript" data-trim>
let YourComponent = React.createClass({
	getDefaultProps() {
	},
	render() {
		// ...
	}
});
						</code></pre>
					</section>
				</section>



			</div>

		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.js"></script>

		<script>

			// Full list of configuration options available at:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				transition: 'convex', // none/fade/slide/convex/concave/zoom

				// Optional reveal.js plugins
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.configure({tabReplace: '  '}); hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true },
					{ src: 'plugin/notes/notes.js', async: true }
				]
			});

		</script>

	</body>
</html>
